@import"variable.scss";
@import"navigation.scss";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  body {
    height: 100vh;
    width: 100vw;
    display: flex;
    cursor: none;
    overflow: hidden;
  }

  #custom-cursor {
    position: absolute;
    height: 70px;
    width: 70px;
    pointer-events: none;
  }

  a {
    color: $baseColorText; //this apply to all links and text in the document
    text-decoration: none;
  }

  .homenav{
    margin-left: 25px;
  }

  .homenav:hover{
    text-decoration: line-through;
  }

  .unclickable-playground {
    height: 70vh;
    width: 80vw;
    display: flex;
    background-color: $baseColorText;
    border: 1px solid #9d91fc;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(157, 145, 252), 0 6px 20px 0 rgb(157, 145, 252);
  }
    
  #playground {
    height: 57vh;
    width: 74vw;
    display: flex;
    background-color: red;
  }

  .rotate {
    animation: rotate 1s;
  }

  #blobAppear {
    padding-top: 55px;
    pointer-events: none;
  }

  @keyframes rotate {
    50% {transform: rotate(-130deg);}
  }