
  body {
    margin: 0;
    height: 100vh;
    background-color: rgb(194, 255, 192);
    cursor: none;
  }

  #custom-cursor {
    position: absolute;
    height: 70px;
    width: 70px;
  }

  .rotate {
    animation: rotate 1s;
  }

  #blobAppear {
    padding-top: 55px;
  }

  @keyframes rotate {
    50% {transform: rotate(-130deg);}
  }