@import "variable.scss";

.top-content {
    width: 100vw;
    height: 100vh;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-family: 'Poppins', sans-serif;
  
      video {
        width: 100vw;
        height: 100vh;
        position: absolute; //parent top-content är relative och viedon ska förhålla sig till sin parent därför position absolute.
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1; //ska ligga underst på sidan.
      }
     
      .nav {
        position: fixed;
        top: 0; // top and left 0 is to get it to stay in its top position
        left: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100vw;
        height: 9vh;
        z-index: 9999;
        background-color: transparent;
      }
    
      #link-display {
        display: none;
      } 
    
      .nav #link-display a {
        padding: 10px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1em;
      }
    
      .nav #link-display a:hover {
        text-decoration: line-through;
      }
  
      .menu-btn {
        position: relative;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        border: none;
      }
    
      .menu-btn__burger {
        width: 40px;
        height: 5px;
        background: $baseColorText;
        border-radius: 5px;
        transition: all .5s ease-in-out;
      }
    
      .menu-btn__burger::before,
      .menu-btn__burger::after {
        content: ''; //Kopierar diven .menu-btn__burger och lägger båda kopiorna direkt ovanpå orginaldiven.
        position: absolute; // ser till att "nya linjerna" positioneras relativt till parent dvs. ovanpå.
        width: 40px;
        height: 5px;
        background: $baseColorText;
        border-radius: 5px;
        transition: all .5s ease-in-out;
      }
  
      .menu-btn__burger::before {
        transform: translateY(-14px); //make the kopied div "line" move up 16 px
      }
  
      .menu-btn__burger::after {
        transform: translateY(14px); //make the kopied div "line" move down 16 px
      }
    
      .menu-btn.open .menu-btn__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
    
      .menu-btn.open .menu-btn__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
    
      .menu-btn.open .menu-btn__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    
      .social-media-icon {
        height: 8vh;
        display: flex;
        align-items: center;
        margin: 0 30px 0 auto;
      }
    
      .fa {
        padding: 20px;
        font-size: 25px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        background: transparent;
      }
    
      .fa:hover {
        opacity: 0.7;
      }
    }