$baseColorText: #efefef;

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: $baseColorText; //this apply to all links and text in the document
}

.top-content {
  width: 100vw;
  height: 100vh;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  font-family: 'Poppins', sans-serif;

    video {
      width: 100vw;
      height: 100vh;
      position: absolute; //parent top-content är relative och viedon ska förhålla sig till sin parent därför position absolute.
      top: 0;
      left: 0;
      object-fit: cover;
      z-index: -1; //ska ligga underst på sidan.
    }
   
    .nav {
      position: fixed;
      top: 0; // top and left 0 is to get it to stay in its top position
      left: 0;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 100vw;
      height: 9vh;
      background-color: transparent;
    }
  
    #link-display {
      display: none;
      margin-left: 35px; //to get the links underneath 
    } 
  
    .nav #link-display a {
      padding: 10px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1em;
    }
  
    .nav #link-display a:hover {
      text-decoration: line-through;
    }

    // @media screen and (max-width: 768px){
    //   #link-display{
    //     width: 30vw;
    //     height: auto;
    //     min-width: 215px;
    //     position: absolute; //parent har position relative och denna absolute för att det ska förhålla sig till naven.
    //     top: 8vh; // Gör att positionen börjar där naven slutar.
    //     display: none;
    //     display: flex;
    //     flex-direction: column;
    //     background-color: transparent;
    //   }
    //   .nav a {
    //     display: flex;
    //     flex-direction: column;
    //   }
    // }
  
    .menu-btn {
      position: relative;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: all .5s ease-in-out;
      border: none;
    }
  
    .menu-btn__burger {
      width: 40px;
      height: 5px;
      background: $baseColorText;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
  
    .menu-btn__burger::before,
    .menu-btn__burger::after {
      content: ''; //Kopierar diven .menu-btn__burger och lägger båda kopiorna direkt ovanpå orginaldiven.
      position: absolute; // ser till att "nya linjerna" positioneras relativt till parent dvs. ovanpå.
      width: 40px;
      height: 5px;
      background: $baseColorText;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }

    .menu-btn__burger::before {
      transform: translateY(-14px); //make the kopied div "line" move up 16 px
    }

    .menu-btn__burger::after {
      transform: translateY(14px); //make the kopied div "line" move down 16 px
    }
  
    .menu-btn.open .menu-btn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }
  
    .menu-btn.open .menu-btn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }
  
    .menu-btn.open .menu-btn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  
    .social-media-icon {
      height: 8vh;
      display: flex;
      align-items: center;
      margin: 0 30px 0 auto;
    }
  
    .fa {
      padding: 20px;
      font-size: 25px;
      width: 50px;
      text-align: center;
      text-decoration: none;
      background: transparent;
    }
  
    .fa:hover {
      opacity: 0.7;
    }
  }
 
  header {
    height: 91vh;
    position: absolute; //parent är top-content och den har position relative
    top: 9vh; // headern ska börja under naven som är 9vh
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    h1 {
      color: $baseColorText;
      text-align: center;
    }

    h2 {
      color: $baseColorText;
      text-align: center;
    }

    .arrows {
      width: 60px;
      height: 72px;
    }
    
    .arrows path {
      stroke: $baseColorText;
      fill: transparent;
      stroke-width: 2px;	
      animation: arrow 2s infinite;
      -webkit-animation: arrow 2s infinite; 
    }
    
    @keyframes arrow {
    0% {opacity:0}
    40% {opacity:1}
    80% {opacity:0}
    100% {opacity:0}
    }
    
    .arrows path.a1 {
      animation-delay:-1s;
    }
    
    .arrows path.a2 {
      animation-delay:-0.5s;
    }
    
    .arrows path.a3 {	
      animation-delay:0s;
    }
  }

.postcontainer {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #060408;

  #postSummaries {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .card-wrapper__card {
    margin: 80px 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    padding: 40px;
    border: 1px solid #9d91fc;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgb(157, 145, 252), 0 6px 20px 0 rgb(157, 145, 252);
  }

  .card-wrapper__content {
    padding-left: 30px;
    h3 {
      margin-bottom: 10px;
    }
  }
}

img {
  width: 20vw;
  min-width: 215px;
  border-radius: 50%;
  animation: morph 8s ease-in-out infinite;
      
  @keyframes morph { 
    0% {
      border-radius:  70% 50% 40% 80% / 70% 40% 80% 50%;
    }     
    50% {
      border-radius:  40% 70% 80% 50% / 60% 70% 40% 60%;
    }    
    100% {
      border-radius:  70% 50% 40% 80% / 70% 40% 80% 50%;
    }
  }
}

@media screen and (max-width: 768px){
  #link-display{
    width: 30vw;
    height: auto;
    min-width: 215px;
    position: absolute; //parent har position relative och denna absolute för att det ska förhålla sig till naven.
    top: 8vh; // Gör att positionen börjar där naven slutar.
    display: none;
    display: flex;
    flex-direction: column;
    background-color: transparent;
  }
  .nav a {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 992px) {
  .card-wrapper__card {
    flex-direction: column;
  }
}