@import "navigation.scss";
@import "svg.scss";
@import "posts.scss";
@import "media-screens.scss";
@import "variable.scss";

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100vw;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: $baseColorText; //this apply to all links and text in the document
}