@charset "UTF-8";
*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: #efefef;
}

.top-content {
  width: 100vw;
  height: 100vh;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
}

.top-content video {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.top-content .nav {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  height: 9vh;
  background-color: transparent;
}

.top-content #link-display {
  display: none;
  margin-left: 35px;
}

.top-content .nav #link-display a {
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
}

.top-content .nav #link-display a:hover {
  text-decoration: line-through;
}

@media screen and (max-width: 769px) {
  .top-content #link-display {
    width: 30vw;
    height: auto;
    min-width: 215px;
    position: absolute;
    top: 8vh;
    display: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: transparent;
  }
  .top-content .nav a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.top-content .menu-btn {
  position: relative;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  border: none;
}

.top-content .menu-btn__burger {
  width: 40px;
  height: 5px;
  background: #efefef;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.top-content .menu-btn__burger::before,
.top-content .menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: #efefef;
  border-radius: 5px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.top-content .menu-btn__burger::before {
  -webkit-transform: translateY(-14px);
          transform: translateY(-14px);
}

.top-content .menu-btn__burger::after {
  -webkit-transform: translateY(14px);
          transform: translateY(14px);
}

.top-content .menu-btn.open .menu-btn__burger {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.top-content .menu-btn.open .menu-btn__burger::before {
  -webkit-transform: rotate(45deg) translate(35px, -35px);
          transform: rotate(45deg) translate(35px, -35px);
}

.top-content .menu-btn.open .menu-btn__burger::after {
  -webkit-transform: rotate(-45deg) translate(35px, 35px);
          transform: rotate(-45deg) translate(35px, 35px);
}

.top-content .social-media-icon {
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px 0 auto;
}

.top-content .fa {
  padding: 20px;
  font-size: 25px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  background: transparent;
}

.top-content .fa:hover {
  opacity: 0.7;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

header h1 {
  color: #efefef;
  text-align: center;
  margin: 150px auto 20px auto;
}

header h2 {
  color: #efefef;
  text-align: center;
}

header .arrows {
  width: 60px;
  height: 72px;
  margin-top: 150px;
}

header .arrows path {
  stroke: #efefef;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

header .arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

header .arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

header .arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

#postSummaries {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #060408;
  color: #efefef;
}

#postSummaries img {
  width: 25vw;
  min-width: 215px;
  border-radius: 50%;
  -webkit-animation: morph 8s ease-in-out infinite;
          animation: morph 8s ease-in-out infinite;
}

@-webkit-keyframes morph {
  0% {
    border-radius: 70% 50% 40% 80% / 70% 40% 80% 50%;
  }
  50% {
    border-radius: 40% 70% 80% 50% / 60% 70% 40% 60%;
  }
  100% {
    border-radius: 70% 50% 40% 80% / 70% 40% 80% 50%;
  }
}

@keyframes morph {
  0% {
    border-radius: 70% 50% 40% 80% / 70% 40% 80% 50%;
  }
  50% {
    border-radius: 40% 70% 80% 50% / 60% 70% 40% 60%;
  }
  100% {
    border-radius: 70% 50% 40% 80% / 70% 40% 80% 50%;
  }
}

#postSummaries .card-wrapper__card {
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 80vh;
  padding: 40px;
  border: 1px solid #9d91fc;
  border-radius: 5px;
  -webkit-box-shadow: 0 4px 4px 0 #9d91fc, 0 6px 20px 0 #9d91fc;
          box-shadow: 0 4px 4px 0 #9d91fc, 0 6px 20px 0 #9d91fc;
}

@media screen and (max-width: 600px) {
  #postSummaries .card-wrapper__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

#postSummaries .card-wrapper__content {
  padding-left: 30px;
}

#postSummaries .card-wrapper__content h3 {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style.css.map */